# Ignore node_modules directory
node_modules/

# Ignore .env file for sensitive information
.env

# Ignore package-lock.json file
package-lock.json

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore local env files
.local

# Ignore build output
dist/
build/

# Ignore coverage reports
coverage/
*.lcov

# Ignore IDE/editor files
.idea/
.vscode/
.DS_Store

# Ignore miscellaneous files
*.tgz
.vercel
